.compression-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.select-menu {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.select-menu select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #edebeb;
    background-color: #f9f9f9;
    cursor: pointer;
    
}

.select-menu select:focus {
    outline: none;
    border-color: #007bff;
}

.compression-option {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compression-option label {
    margin-right: 10px;
    font-size: .8rem;
}